*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: snow;
}
.container{
    width: 80%;
    height: 500px;
    background-color:white;
    margin: 0px auto;
}
.all_div{
    width: 50%;
    margin: 60px auto;
}
.sub_container div{
    width: 200px;
    height: 200px;
    margin: 30px auto;
    border-color: #FE1A00;
    border-width: 1px;
    border-style: solid;
    font-family: fantasy;
    font-size: 100px;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    line-height: 180px;
}
.btn{
    cursor: hand;
    margin-left: 120px;
    margin-top: 30px;
    background-image: url("../images/btn1.png");
}